# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librería Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [67]:
import pandas as pd
def cargar_datos():
    # Define el formato del ancho fijo para cada columna
    column_specifications = [(0, 10), (10, 40), (40, 50), (50, 55)]
    
    # Leer los datos del archivo datos.dat con el formato de ancho fijo
    datos = pd.read_fwf('datos.dat', colspecs=column_specifications, header=None, 
                    names=['fecha', 'producto', 'precio', 'cantidad'])
    
    return datos

datos = cargar_datos()
datos

         fecha    producto  precio  cantidad
0   2024-08-27     Mirinda    1510        14
1   2024-08-27     Mirinda    1560        12
2   2024-08-28     Torasso     940         8
3   2024-08-29  Pepsi Cola    1210        10
4   2024-08-30     Mirinda    1520         1
5   2024-09-01     Mirinda    1550        15
6   2024-09-01      Sprite     810         4
7   2024-09-02   Coca Cola    1100         4
8   2024-09-02  Pepsi Cola    1220        13
9   2024-09-02     Torasso     910         5
10  2024-09-02     Torasso     920         3
11  2024-09-03   Coca Cola    1020         8
12  2024-09-03     Mirinda    1570         7
13  2024-09-03     Mirinda    1590         2
14  2024-09-04  Pepsi Cola    1220        13
15  2024-09-05     Mirinda    1500         3
16  2024-09-05  Pepsi Cola    1300         5
17  2024-09-06   Coca Cola    1080         1
18  2024-09-06      Sprite     860        12
19  2024-09-06     Torasso     930         3
20  2024-09-07   Coca Cola    1080        14
21  2024-09-07      Sprite     870        13
22  2024-09-08   Coca Cola    1040        10
23  2024-09-08     Mirinda    1580         2
24  2024-09-08  Pepsi Cola    1240         9
25  2024-09-09     Mirinda    1500         3
26  2024-09-09      Sprite     850         9
27  2024-09-10     Mirinda    1590         8
28  2024-09-10  Pepsi Cola    1250        12
29  2024-09-11      Sprite     810         6
30  2024-09-11      Sprite     820        14
31  2024-09-12   Coca Cola    1080         4
32  2024-09-13     Mirinda    1580         5
33  2024-09-13  Pepsi Cola    1250        13
34  2024-09-14   Coca Cola    1080        15
35  2024-09-14  Pepsi Cola    1270        14
36  2024-09-15   Coca Cola    1100         1
37  2024-09-15     Mirinda    1500        13
38  2024-09-15      Sprite     870        14
39  2024-09-15     Torasso     900        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una función que sume los importes vendidos (precio * cantidad) y las cantidades.

In [68]:
def calcular_totales(datos):
    datos['precio'] = pd.to_numeric(datos['precio'], errors='coerce')  # Convierte a numérico
    datos['cantidad'] = pd.to_numeric(datos['cantidad'], errors='coerce')  # Convierte a numérico

    # Verifica si hay valores nan en precio o cantidad
    if datos['precio'].isnull().any() or datos['cantidad'].isnull().any():
        raise ValueError("Hay valores no numéricos en las columnas 'precio' o 'cantidad'")

    # Calcula el importe total precio * cantidad y la cantidad total
    datos['importe'] = datos['precio'] * datos['cantidad']
    total_importe = datos['importe'].sum()
    total_cantidad = datos['cantidad'].sum()
    
    return total_importe, total_cantidad
importe, cantidad = calcular_totales(datos)

print(f"Las ventas fueron de ${importe:,.2f} en {cantidad} unidades")

Las ventas fueron de $392,730.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cuántas unidades se vendieron en total para cada producto

In [69]:
def unidades_vendidas(datos):
    # Agrupar por producto y sumar las cantidades vendidas
    unidades_por_producto = datos.groupby('producto')['cantidad'].sum().reset_index()
    
    return unidades_por_producto

# Llamar a la función para obtener las unidades vendidas por producto
unidades_por_producto = unidades_vendidas(datos)


unidades_vendidas(datos)

     producto  cantidad
0   Coca Cola        57
1     Mirinda        85
2  Pepsi Cola        89
3      Sprite        72
4     Torasso        32

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [70]:
def precio_promedio(datos):
    # Agrupar por producto y calcular el precio promedio
    precio_promedio_por_producto = datos.groupby('producto')['precio'].mean().reset_index()
    
    return precio_promedio_por_producto

# Llamar a la función para obtener el precio promedio por producto
precio_promedio_por_producto = precio_promedio(datos)

precio_promedio(datos)

     producto       precio
0   Coca Cola  1072.500000
1     Mirinda  1545.833333
2  Pepsi Cola  1245.000000
3      Sprite   841.428571
4     Torasso   920.000000

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos más vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [71]:
def ranking_productos(datos, top=3):
    # Agrupa por producto y sumar las cantidades vendidas
    ranking = datos.groupby('producto')['cantidad'].sum().reset_index()
    
    # Ordena por cantidad vendida de mayor a menor
    ranking = ranking.sort_values(by='cantidad', ascending=False)
    
    # Selecciona los top productos
    ranking_top = ranking.head(top)
    
    return ranking_top

# Llamar a la función para obtener el ranking de los 3 productos más vendidos
top_productos = ranking_productos(datos)

ranking_productos(datos)

     producto  cantidad
2  Pepsi Cola        89
1     Mirinda        85
3      Sprite        72

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [72]:
def ventas_por_mes(datos):
   # Asegurarse de que la columna 'fecha' esté en formato de fecha
    datos['fecha'] = pd.to_datetime(datos['fecha'], format='%Y-%m-%d', errors='coerce')

    # Extraer el año y el mes de la fecha
    datos['mes'] = datos['fecha'].dt.to_period('M')
    
    # Agrupar por producto y mes, y sumar las unidades vendidas
    ventas_mensuales = datos.groupby(['producto', 'mes'])['cantidad'].sum().reset_index()
    
    return ventas_mensuales

# Llamar a la función para obtener las ventas por mes
ventas_mensuales = ventas_por_mes(datos)
ventas_por_mes(datos)

     producto      mes  cantidad
0   Coca Cola  2024-09        57
1     Mirinda  2024-08        27
2     Mirinda  2024-09        58
3  Pepsi Cola  2024-08        10
4  Pepsi Cola  2024-09        79
5      Sprite  2024-09        72
6     Torasso  2024-08         8
7     Torasso  2024-09        24

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [73]:
def resumen_ventas(datos):
    datos['precio'] = pd.to_numeric(datos['precio'], errors='coerce')
    datos['cantidad'] = pd.to_numeric(datos['cantidad'], errors='coerce')
    
    # Calcula el importe total vendido precio * cantidad 
    datos['importe'] = datos['precio'] * datos['cantidad']
    
    # Agrupa por producto y calcular las métricas necesarias
    resumen = datos.groupby('producto').agg(
        precio_promedio=('precio', 'mean'),
        cantidad_vendida=('cantidad', 'sum'),
        importe_total=('importe', 'sum')
    ).reset_index()
    
    # Ordena por nombre del producto alfabeticamente
    resumen = resumen.sort_values(by='producto')
    
    return resumen

resumen = resumen_ventas(datos)
resumen_ventas(datos)

     producto  precio_promedio  cantidad_vendida  importe_total
0   Coca Cola      1072.500000                57          60780
1     Mirinda      1545.833333                85         131080
2  Pepsi Cola      1245.000000                89         110510
3      Sprite       841.428571                72          61040
4     Torasso       920.000000                32          29320

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una función en Python que encuentre los valores de `a`, `b`, y `c` para que la función cuadrática `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La función debe explorar posibles valores de `a`, `b`, y `c` utilizando un método de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la función `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son números pequeños.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [74]:
import numpy as np

# Definir la función cuadrática
def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

# Calcular el error entre los valores reales y los predichos
def error(y, y_pred):
    return np.sum((y - y_pred)**2)

# Puntos de entrada (x, y)
X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8, 12, 12, 0])

# Función para buscar los coeficientes a, b, c
def buscar_coeficientes():
    # Rango de posibles valores para a, b, c
    rango = np.linspace(-10, 10, 200)  # Probar valores entre -10 y 10 para a, b, c

    mejor_error = float('inf')  # Inicializar el mejor error como infinito
    mejor_coeficientes = None  # Inicializar los mejores coeficientes como None

    # Probar todas las combinaciones posibles de a, b, c
    for a in rango:
        for b in rango:
            for c in rango:
                coeficientes = np.array([a, b, c])
                y_pred = f(X, coeficientes)  # Obtener los valores predichos
                e = error(Y, y_pred)  # Calcular el error
                if e < mejor_error:  # Si encontramos un error mejor
                    mejor_error = e
                    mejor_coeficientes = coeficientes

    return mejor_coeficientes

# Buscar los coeficientes
coeficientes = buscar_coeficientes()
print("Coeficientes encontrados:", coeficientes)

KeyboardInterrupt:

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la función que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la función.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la función y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agregándoles un pequeño valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [ ]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a,b,c = coeficientes
    return a*x**2 + b*x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8,12,11, 1]) # Observar que no son los mismos valores que en el ejemplo anterior

def buscar_coeficientes():
    # Inicializar coeficientes aleatorios
    coeficientes = randint(-10, 10, 3)  # Coeficientes aleatorios entre -10 y 10
    
    # Calcular el valor inicial de la función y el error
    y_pred = f(X, coeficientes)
    e = error(Y, y_pred)
    
    # Tasa de aprendizaje
    learning_rate = 0.001
    
    # Iterar mientras el error sea mayor que 1
    while e > 1:
        # Agregar un pequeño valor aleatorio a los coeficientes
        new_coeficientes = coeficientes + randint(-1, 2, 3) * learning_rate
        
        # Calcular el nuevo valor de la función y el error
        new_y_pred = f(X, new_coeficientes)
        new_error = error(Y, new_y_pred)
        
        # Si el nuevo error es menor, actualizar los coeficientes
        if new_error < e:
            coeficientes = new_coeficientes
            e = new_error  # Actualizamos el error

    return coeficientes


coeficientes = buscar_coeficientes()
coeficientes

array([-1.78 ,  8.962,  0.626])