# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librería Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [44]:
import pandas as pd

def cargar_datos():
    anchos = [10 , 30 , 10 ,5]
    nombres = ['fecha' , 'producto' , 'precio' , 'cantidad']

    df = pd.read_fwf('datos.dat', widths=anchos, names=nombres)

    return df


datos = cargar_datos()
datos

         fecha    producto  precio  cantidad
0   2024-08-27     Mirinda    1510        14
1   2024-08-27     Mirinda    1560        12
2   2024-08-28     Torasso     940         8
3   2024-08-29  Pepsi Cola    1210        10
4   2024-08-30     Mirinda    1520         1
5   2024-09-01     Mirinda    1550        15
6   2024-09-01      Sprite     810         4
7   2024-09-02   Coca Cola    1100         4
8   2024-09-02  Pepsi Cola    1220        13
9   2024-09-02     Torasso     910         5
10  2024-09-02     Torasso     920         3
11  2024-09-03   Coca Cola    1020         8
12  2024-09-03     Mirinda    1570         7
13  2024-09-03     Mirinda    1590         2
14  2024-09-04  Pepsi Cola    1220        13
15  2024-09-05     Mirinda    1500         3
16  2024-09-05  Pepsi Cola    1300         5
17  2024-09-06   Coca Cola    1080         1
18  2024-09-06      Sprite     860        12
19  2024-09-06     Torasso     930         3
20  2024-09-07   Coca Cola    1080        14
21  2024-09-07      Sprite     870        13
22  2024-09-08   Coca Cola    1040        10
23  2024-09-08     Mirinda    1580         2
24  2024-09-08  Pepsi Cola    1240         9
25  2024-09-09     Mirinda    1500         3
26  2024-09-09      Sprite     850         9
27  2024-09-10     Mirinda    1590         8
28  2024-09-10  Pepsi Cola    1250        12
29  2024-09-11      Sprite     810         6
30  2024-09-11      Sprite     820        14
31  2024-09-12   Coca Cola    1080         4
32  2024-09-13     Mirinda    1580         5
33  2024-09-13  Pepsi Cola    1250        13
34  2024-09-14   Coca Cola    1080        15
35  2024-09-14  Pepsi Cola    1270        14
36  2024-09-15   Coca Cola    1100         1
37  2024-09-15     Mirinda    1500        13
38  2024-09-15      Sprite     870        14
39  2024-09-15     Torasso     900        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una función que sume los importes vendidos (precio * cantidad) y las cantidades.

In [45]:
def calcular_totales(datos):
    importe_total = (datos['precio'] * datos['cantidad']).sum()
   
    cantidad_total = datos['cantidad'].sum()
    
    return importe_total, cantidad_total


importe, cantidad = calcular_totales(datos)

print(f"Las ventas fueron de ${importe:.2f} en {cantidad} unidades")

Las ventas fueron de $392730.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cuántas unidades se vendieron en total para cada producto

In [46]:
import pandas as pd

def leer_datos_archivo(archivo):
    colspecs = [(0, 10), (10, 45), (45, 50), (50, None)]
    df = pd.read_fwf(archivo, colspecs=colspecs, header=None)
    df.columns = ['Fecha', 'Producto', 'Codigo', 'Cantidad']
    
    return df

def unidades_vendidas(datos):
    total = datos.groupby('Producto')['Cantidad'].sum().reset_index()
    total.columns = ['Producto', 'Total']  
   
    for index, row in total.iterrows():
        print(f'Producto {row["Producto"]}: {row["Total"]} unidades vendidas')

datos = leer_datos_archivo('datos.dat')
unidades_vendidas(datos)

Producto Coca Cola: 57 unidades vendidas
Producto Mirinda: 85 unidades vendidas
Producto Pepsi Cola: 89 unidades vendidas
Producto Sprite: 72 unidades vendidas
Producto Torasso: 32 unidades vendidas

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [47]:
import pandas as pd

def leer_datos_archivo(archivo):
    colspecs = [(0, 10), (10, 45), (45, 50), (50, 55), (55, None)]  
    df = pd.read_fwf(archivo, colspecs=colspecs, header=None)
    df.columns = ['Fecha', 'Producto', 'Codigo', 'Cantidad', 'Precio']

    print(df.head())  
    
    return df

def precio_promedio(datos):
    datos = datos.dropna(subset=['Precio'])
    promedio = datos.groupby('Producto')['Precio'].mean().reset_index()
    promedio.columns = ['Producto', 'Precio Promedio']
    
 
    for index, row in promedio.iterrows():
        print(f'Producto {row["Producto"]}: precio promedio {row["Precio Promedio"]:.2f}')


datos = leer_datos_archivo('datos.dat')


precio_promedio(datos)

        Fecha    Producto  Codigo  Cantidad  Precio
0  2024-08-27     Mirinda    1510        14     NaN
1  2024-08-27     Mirinda    1560        12     NaN
2  2024-08-28     Torasso     940         8     NaN
3  2024-08-29  Pepsi Cola    1210        10     NaN
4  2024-08-30     Mirinda    1520         1     NaN

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos más vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [48]:
import pandas as pd

def ranking_productos(datos, top=3):
    
    total_vendido = datos.groupby('Producto')['Cantidad'].sum().reset_index()
    total_vendido = total_vendido.sort_values(by='Cantidad', ascending=False)
    top_productos = total_vendido.head(top)

    print(f"Ranking de los {top} productos más vendidos:")
    for index, row in top_productos.iterrows():
        print(f'{row["Producto"]}: {row["Cantidad"]} unidades vendidas')



ranking_productos(datos)

Ranking de los 3 productos más vendidos:
Pepsi Cola: 89 unidades vendidas
Mirinda: 85 unidades vendidas
Sprite: 72 unidades vendidas

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [49]:
import pandas as pd

def ventas_por_mes(datos):
    datos['Fecha'] = pd.to_datetime(datos['Fecha'], format='%Y-%m-%d')
    
    datos['Mes'] = datos['Fecha'].dt.to_period('M') 
    
    ventas_mensuales = datos.groupby(['Mes', 'Producto'])['Cantidad'].sum().reset_index()
    
    for index, row in ventas_mensuales.iterrows():
        print(f'Mes {row["Mes"]} - Producto {row["Producto"]}: {row["Cantidad"]} unidades vendidas')

ventas_por_mes(datos)

Mes 2024-08 - Producto Mirinda: 27 unidades vendidas
Mes 2024-08 - Producto Pepsi Cola: 10 unidades vendidas
Mes 2024-08 - Producto Torasso: 8 unidades vendidas
Mes 2024-09 - Producto Coca Cola: 57 unidades vendidas
Mes 2024-09 - Producto Mirinda: 58 unidades vendidas
Mes 2024-09 - Producto Pepsi Cola: 79 unidades vendidas
Mes 2024-09 - Producto Sprite: 72 unidades vendidas
Mes 2024-09 - Producto Torasso: 24 unidades vendidas

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [9]:
import pandas as pd

datos = pd.DataFrame({
    'Producto': ['Pepsi Cola', 'Mirinda', 'Sprite', 'Pepsi Cola', 'Coca Cola', 'Mirinda', 'Sprite', 'Torasso'],
    'Cantidad': [89, 85, 72, 79, 57, 58, 72, 8],
    'Precio': [1.5, 1.6, 1.4, 1.5, 1.8, 1.6, 1.4, 2.0],
    'Importe': [133.5, 136, 100.8, 118.5, 102.6, 92.8, 100.8, 16.0],
    'Fecha': pd.to_datetime(['2024-09-01', '2024-09-01', '2024-09-01', '2024-09-01', '2024-09-01', '2024-08-01', '2024-09-01', '2024-08-01'])
})


def precio_promedio(datos):
    return datos['Precio'].mean()  

def unidades_vendidas(datos):
    return datos.groupby('Producto')['Cantidad'].sum() 


def resumen_ventas(datos):
    promedio = precio_promedio(datos)
    unidades = unidades_vendidas(datos).sort_index()  
    importe = datos.groupby('Producto')['Importe'].sum() 

    print("Precio promedio:", promedio)
    print("Unidades vendidas:\n", unidades)
    print("Importe total por producto:\n", importe)


resumen_ventas(datos)

Precio promedio: 1.6
Unidades vendidas:
 Producto
Coca Cola      57
Mirinda       143
Pepsi Cola    168
Sprite        144
Torasso         8
Name: Cantidad, dtype: int64
Importe total por producto:
 Producto
Coca Cola     102.6
Mirinda       228.8
Pepsi Cola    252.0
Sprite        201.6
Torasso        16.0
Name: Importe, dtype: float64

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una función en Python que encuentre los valores de `a`, `b`, y `c` para que la función cuadrática `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La función debe explorar posibles valores de `a`, `b`, y `c` utilizando un método de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la función `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son números pequeños.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [12]:
import numpy as np
def f(x, coeficientes):
    a,b,c = coeficientes
    return a*x**2 + b*x + c

def error(y, y_pred):
    return y - y_pred

X = np.array([0,1,2,3,5])
Y = np.array([0,8,12,12,0])

def buscar_coeficientes(X, Y):
    rango = np.arange(-5, 15, 1)
    for a in rango:
        for b in rango:
            for c in rango:
                y_pred = f(X, (a, b, c))  
                if np.all(error(Y, y_pred) == 0):  
                    return a, b, c  
    return None



coeficientes = buscar_coeficientes(X, Y)
print("Los coeficientes son:", coeficientes)

Los coeficientes son: (np.int64(-2), np.int64(10), np.int64(0))

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la función que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la función.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la función y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agregándoles un pequeño valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [13]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

def buscar_coeficientes(X, Y):
    coeficientes = np.random.randint(-10, 10, 3)
    aprendizaje = 0.1 
    error_actual = error(Y, f(X, coeficientes))

    max_iteraciones = 10000  
    iteracion = 0

    while iteracion < max_iteraciones:
    
        nuevo_coeficientes = coeficientes + np.random.uniform(-aprendizaje, aprendizaje, 3)
        nuevo_error = error(Y, f(X, nuevo_coeficientes))

   
        if nuevo_error < error_actual:
            coeficientes = nuevo_coeficientes
            error_actual = nuevo_error

        iteracion += 1  
    return coeficientes



coeficientes = buscar_coeficientes(X, Y)
print('Coeficientes encontrados:', coeficientes)

Coeficientes encontrados: [-2.00037460e+00  9.99943819e+00  9.66323584e-03]