# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librería Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [11]:
import pandas as pd

def cargar_datos():
    anchos= [10,30,10,5]
    columnas = ['fecha','producto','precio','cantidad']
    cargar_datos= pd.read_fwf('datos.dat',widths=anchos,names=columnas)
    return cargar_datos

datos = cargar_datos()
datos

         fecha    producto  precio  cantidad
0   2024-08-27     Mirinda    1510        14
1   2024-08-27     Mirinda    1560        12
2   2024-08-28     Torasso     940         8
3   2024-08-29  Pepsi Cola    1210        10
4   2024-08-30     Mirinda    1520         1
5   2024-09-01     Mirinda    1550        15
6   2024-09-01      Sprite     810         4
7   2024-09-02   Coca Cola    1100         4
8   2024-09-02  Pepsi Cola    1220        13
9   2024-09-02     Torasso     910         5
10  2024-09-02     Torasso     920         3
11  2024-09-03   Coca Cola    1020         8
12  2024-09-03     Mirinda    1570         7
13  2024-09-03     Mirinda    1590         2
14  2024-09-04  Pepsi Cola    1220        13
15  2024-09-05     Mirinda    1500         3
16  2024-09-05  Pepsi Cola    1300         5
17  2024-09-06   Coca Cola    1080         1
18  2024-09-06      Sprite     860        12
19  2024-09-06     Torasso     930         3
20  2024-09-07   Coca Cola    1080        14
21  2024-09-07      Sprite     870        13
22  2024-09-08   Coca Cola    1040        10
23  2024-09-08     Mirinda    1580         2
24  2024-09-08  Pepsi Cola    1240         9
25  2024-09-09     Mirinda    1500         3
26  2024-09-09      Sprite     850         9
27  2024-09-10     Mirinda    1590         8
28  2024-09-10  Pepsi Cola    1250        12
29  2024-09-11      Sprite     810         6
30  2024-09-11      Sprite     820        14
31  2024-09-12   Coca Cola    1080         4
32  2024-09-13     Mirinda    1580         5
33  2024-09-13  Pepsi Cola    1250        13
34  2024-09-14   Coca Cola    1080        15
35  2024-09-14  Pepsi Cola    1270        14
36  2024-09-15   Coca Cola    1100         1
37  2024-09-15     Mirinda    1500        13
38  2024-09-15      Sprite     870        14
39  2024-09-15     Torasso     900        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una función que sume los importes vendidos (precio * cantidad) y las cantidades.

In [12]:
def calcular_totales(datos):
    cantidad=datos['cantidad'].sum()
    importe= datos['precio'].sum() * cantidad
    return importe,cantidad

importe, cantidad = calcular_totales(datos)

print(f"Las ventas fueron de ${importe:.2f} en {cantidad} unidades")

Las ventas fueron de $15939300.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cuántas unidades se vendieron en total para cada producto

In [13]:
def unidades_vendidas(datos):
    productos = datos.groupby('producto')['cantidad'].sum().reset_index()
    return productos

unidades_vendidas(datos)

     producto  cantidad
0   Coca Cola        57
1     Mirinda        85
2  Pepsi Cola        89
3      Sprite        72
4     Torasso        32

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [14]:
def precio_promedio(datos):
    productos = datos.groupby('producto')['precio'].mean().reset_index()
    return productos

precio_promedio(datos)

     producto       precio
0   Coca Cola  1072.500000
1     Mirinda  1545.833333
2  Pepsi Cola  1245.000000
3      Sprite   841.428571
4     Torasso   920.000000

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos más vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [15]:
def ranking_productos(datos, top=3):
    productos= unidades_vendidas(datos)
    productos_ordenados=productos.sort_values(by='cantidad',ascending=False)
    return productos_ordenados.head(top)
    
ranking_productos(datos)

     producto  cantidad
2  Pepsi Cola        89
1     Mirinda        85
3      Sprite        72

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [16]:
def ventas_por_mes(datos):
    datos['fecha']= pd.to_datetime(datos['fecha'])
    productos = datos.groupby([pd.Grouper(key='fecha', freq='ME'), 'producto'])['cantidad'].sum()
    return productos
ventas_por_mes(datos)

C:\Users\Augusto\AppData\Local\Temp\ipykernel_14216\2269450863.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  productos = datos.groupby([pd.Grouper(key='fecha', freq='M'), 'producto'])['cantidad'].sum()

fecha       producto
2024-08-31  Mirinda       27
            Pepsi Cola    10
            Torasso        8
2024-09-30  Coca Cola     57
            Mirinda       58
            Pepsi Cola    79
            Sprite        72
            Torasso       24
Name: cantidad, dtype: int64

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [17]:
def resumen_ventas(datos):
    promedio = precio_promedio(datos)
    unidades = unidades_vendidas(datos)
    union = pd.merge(promedio,unidades, on='producto', how='inner')
    union['total'] = union['cantidad'] * union['precio']
    return union.sort_values(by='cantidad', ascending=False)

resumen_ventas(datos)

     producto       precio  cantidad          total
2  Pepsi Cola  1245.000000        89  110805.000000
1     Mirinda  1545.833333        85  131395.833333
3      Sprite   841.428571        72   60582.857143
0   Coca Cola  1072.500000        57   61132.500000
4     Torasso   920.000000        32   29440.000000

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una función en Python que encuentre los valores de `a`, `b`, y `c` para que la función cuadrática `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La función debe explorar posibles valores de `a`, `b`, y `c` utilizando un método de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la función `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son números pequeños.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [19]:
import numpy as np

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return np.abs(y - y_pred)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8, 12, 12, 0])

def buscar_coeficientes():
    mejor_error = float('inf')
    mejores_coeficientes = None
    for a in np.arange(-2.1, -1.9, 0.001):
        for b in np.arange(9.9, 10.1, 0.001):
            for c in np.arange(-0.6, -0.4, 0.001):
                Y_pred = f(X, (a, b, c))
                error_total = np.sum(error(Y, Y_pred))   
                if error_total < mejor_error:
                    mejor_error = error_total
                    mejores_coeficientes = (a, b, c)
                if mejor_error < 1e-5:
                    return mejores_coeficientes
    return mejores_coeficientes
coeficientes = buscar_coeficientes()
coeficientes

(np.float64(-2.0030000000000108),
 np.float64(10.09899999999989),
 np.float64(-0.4009999999999998))

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la función que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la función.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la función y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agregándoles un pequeño valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [32]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8, 12, 11, 1])

def buscar_coeficientes():
    coeficientes = randint(-10, 10, 3)
    aprendizaje = 0.001
    error_actual = error(Y, f(X, coeficientes))
    while error_actual > 1:
        nuevos_coeficientes = coeficientes + aprendizaje * randint(-10, 10, 3)
        nuevo_error = error(Y, f(X, nuevos_coeficientes))
        if nuevo_error < error_actual:
            coeficientes = nuevos_coeficientes
            error_actual = nuevo_error
    
    return coeficientes
coeficientes = buscar_coeficientes()
coeficientes

array([-1.785,  8.974,  0.628])